<div class='card m-4' style="width: 20rem;">
  <% if forecast.completed? %>
    <%= ForecastPresenter.new(self, forecast.currency_rates_from_beginning_of_week).exchange_amounts_line_chart(height: '200px', library: { hAxis: {showTextEvery: 15, slantedText: false}  }) %>
    <% else %>
      <div class="forecast-tile">Processing...</div>
    <% end %>
  <div class='card-body'>
    <%= link_to forecast do %>
      <h4 class='card-title'><%= forecast.amount %> <%= forecast.currency %> to <%= forecast.target_currency %> </h4>
    <% end %>
    <p class='card-text'>
      <%= forecast.max_waiting_time %>-week forecast <%= state_badge(forecast.state) %>
      <br>
      From <strong><%= format_date(forecast.date_from) %></strong> to <strong><%= format_date(forecast.date_to) %></strong>
    </p>
    <%= link_to 'Edit', edit_forecast_path(forecast), class: 'btn btn-light' %>
    <%= link_to 'Destroy', forecast, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
