<h1>Forecasts</h1>

<div class='row'>
  <%= render @page.records %>
</div>

<%= @page.number %> of <%= @page.recordset.page_count %> (<%= @page.recordset.records_count %> total forecasts):
<%= link_to "Next page", messages_path(page: @page.next_number) unless @page.last? %>

<br>
<%= link_to 'New Forecast', new_forecast_path %>
