<p>
  <strong>Currency:</strong>
  <%= @forecast.currency %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @forecast.amount %>
</p>

<p>
  <strong>Target currency:</strong>
  <%= @forecast.target_currency %>
</p>

<p>
  <strong>Max waithing time:</strong>
  <%= @forecast.max_waiting_time %>
</p>

<p>
  <strong>Date from:</strong>
  <%= format_date(@forecast.date_from) %>
</p>

<p>
  <strong>Date to:</strong>
  <%= format_date(@forecast.date_to) %>
</p>

<p>
  <strong>State:</strong>
  <%= state_badge(@forecast.state) %>
</p>

<% if @forecast.completed? %>
  <%= @presenter.exchange_amounts_line_chart(ytitle: "Amount (#{@forecast.target_currency})", library: { title: 'Exchange Amount' }) %>

  <%= @presenter.exchange_amounts_table %>

  <%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<% else %>
  <h3 class='row justify-content-md-center'>Processing...</h3>
<% end%>

<%= link_to 'Back', forecasts_path %>
