<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @forecast.currency %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @forecast.amount %>
</p>

<p>
  <strong>Target currency:</strong>
  <%= @forecast.target_currency %>
</p>

<p>
  <strong>Max waithing time:</strong>
  <%= @forecast.max_waiting_time %>
</p>

<p>
  <strong>Date from:</strong>
  <%= format_date(@forecast.date_from) %>
</p>

<p>
  <strong>Date to:</strong>
  <%= format_date(@forecast.date_to) %>
</p>

<%= @presenter.exchange_amounts_line_chart(ytitle: "Amount (#{@forecast.target_currency})", library: { title: 'Exchange Amount' }) %>

<%= @presenter.exchange_amounts_table %>


<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
